# git history files
.history_rewritten_*
# Eclipse artifacts
.project
.pydevproject
#Vagrant
tools/vagrant/.vagrant/
# Intellij
*.iml
.idea/
.run/
# Visual Studio Code
.vscode/
# Bazel
/bazel-*
# vi swap files
.*.swp
# vi backups
*.bak
# common backups
*~
# python artifacts
*.pyc
vendor
# Contains the built artifacts
out/
# Go compiled tests
*.test
# MacOS extended attributes
._*
# MacOS Desktop Services Store
.DS_Store
# hugo build files
.hugo_build.lock
resources/
public/