{{/* Get site logo. */}}
{{ $show_logo := site.Params.main_menu.show_logo | default true }}
{{ $has_logo := fileExists "assets/images/logo.png" | or (fileExists "assets/images/logo.svg") }}
{{ $logo := "" }}
{{ if $has_logo }}
  {{ $logo = (partial "functions/get_logo" (dict "constraint" "max_height" "size" 70)) }}
{{ end }}

<footer class="site_footer">
  <div class="footer_logo">
    <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}">
    <div class="socials">
      <ul class="social-list navbar-nav ml-md-auto">
          {{ range site.Menus.main_right }}
  
          {{/* Set target for link. */}}
          {{ $.Scratch.Set "target" "" }}
          {{ if gt (len .URL) 4 }}
          {{ if eq "http" (slicestr .URL 0 4) }}
          {{ $.Scratch.Set "target" " target=\"_blank\" rel=\"noopener\"" }}
          {{ end }}
          {{ end }}
  
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}{{ ($.Scratch.Get "target") | safeHTMLAttr }}>
              {{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}
            </a>
          </li>
          {{ end }}
        </ul>
    </div>
  </div>
</footer>