{{/* Get site logo. */}}
{{ $show_logo := site.Params.main_menu.show_logo | default true }}
{{ $has_logo := fileExists "assets/images/logo.png" | or (fileExists "assets/images/logo.svg") }}
{{ $logo := "" }}
{{ if $has_logo }}
  {{ $logo = (partial "functions/get_logo" (dict "constraint" "max_height" "size" 70)) }}
{{ end }}

<footer class="site_footer">
  <div class="footer_logo">
    <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}">
    <div class="socials"></div>
  </div>
</footer>
