.footer-license-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  height: auto;
  width: auto;
  font-size: 0;  // Hack to remove space characters between icons without using UL.
  text-decoration: none;
}

.footer-license-icons img {
  display: inline-flex;
  margin-right: 8px;
  height: 22px;
  vertical-align: text-bottom;
}

.site_footer {
  background-color: #05082a;
  width: 100%;
  margin: 50px 0 0;
  padding: 50px auto;
  display: flex;
  justify-content: center;

  .case {
    width: 1100px;
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr 250px ;
    grid-template-rows: auto;
    grid-template-areas: 'logo copyright copyright copyright contribute';

    @media (max-width: 1100px) {
      width: 600px;
      grid-template-columns: 300px 300px ;
      grid-template-rows: auto;
      grid-template-areas: 'logo contribute'
                            'copyright copyright';
    }

    @media (max-width: 600px) {
      width: 280px;
      grid-template-columns: 300px;
      grid-template-rows: auto;
      grid-template-areas:  'logo'
                            'contribute'
                            'copyright';
    }


    .footer_logo {
      padding: 10px 15px;
      height: 170px;
      background-color: #e2e2fc;
      border-radius: 8px;
      grid-area: logo;

      @media (max-width: 600px) {
        width: 280px;
      }
  
      img {
        width: 100%;
      }
  
      .social-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
  
        i.fab {
          font-size: 40px;
        }
      }
    }
  
    .footer_contribute {
      height: 180px;
      padding: 10px 15px;
      grid-area: contribute;
      text-align: center;

      @media (max-width: 1100px) {
        padding: 0px 15px;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      @media (max-width: 600px) {
        padding: 10px 0;
        width: 280px;
        height: 190px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
  
      p {
        color: white;
      }
  
      button {
        width: 100%;
        height: 70px;
        padding: 15px;
        font-size: 17px;
        font-weight: 200;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #e2e2fc;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 600px) {
          width: 280px;
        }

        @media (max-width: 1100px) {
          height: 80px;
          margin-bottom: 0;
        }
  
        span {
          text-align: start;
        }
  
        i {
          font-size: 25px;
        }
      }
    }
  
    .footer_copyright {
      height: 180px;
      padding: 10px 15px;
      grid-area: copyright;
      position: relative;
      text-align: center;
      color: rgb(197, 203, 255);

      @media (max-width: 600px) {
        width: 280px;
        padding: 0px;
      }
  
      ul {
        list-style: none;
        display: flex;
        padding: 0 10%;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 600px) {
          width: 280px;
          padding: 0px;
        }
  
        li {
          font-weight: 600;
  
          a {
            text-decoration: none;
            color: #5696ce;
          }
        }
      }
  
      p {
        position: absolute;
        bottom: 20px;
        left: 20%;
        margin: 0;

        @media (max-width: 600px) {
          width: 280px;
          padding: 0px;
          left: 0;
        }
      }
    }
  }

}
