.footer-license-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  height: auto;
  width: auto;
  font-size: 0;  // Hack to remove space characters between icons without using UL.
  text-decoration: none;
}

.footer-license-icons img {
  display: inline-flex;
  margin-right: 8px;
  height: 22px;
  vertical-align: text-bottom;
}

.site_footer {
  background-color: #2d2d2d;
  width: 100%;
  margin: 50px 0 0;
  padding: 50px 10%;

  .footer_logo {
    width: 20%;

    img {
      width: 100%;
    }

    .social-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
}
